page-report-topagent {
  .content-body{
    background-color: white;
  }

  .label_1{
    margin-top: 54px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #8D9091;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: left;
    right: 10px;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }
}
