page-login{
  .scroll-content {
    padding-bottom: 0 !important;
  }
    .content {
        // background-color: cornflowerblue;
        // background:#0F466E;
        // background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
        // background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
        // background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
        // background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
        // background-image: url('../assets/imgs/background.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        background: linear-gradient(to right, #0B437B, #3579AE);
        /* Standard syntax */

        // background: -webkit-linear-gradient(cornflowerblue, green);
        // // /* For Safari 5.1 to 6.0 */

        // background: -o-linear-gradient(cornflowerblue, green);
        // /* For Opera 11.1 to 12.0 */

        // background: -moz-linear-gradient(cornflowerblue, green);
    }

    .grid-column{
      width: 100%!important;
      padding: 0 0 0 0;
    }
    .card-login{
      padding: 0px 0px 0px 0px;
      border-radius: 7px 7px 7px 7px;
      width: 100%;
      height: auto;
      bottom: calc(-100% + 60%);
      position: relative;
      margin: 0px;
      background: rgba(189, 200, 219, 0.1)!important;
      .card-header-md + .card-content-md, .card-md .item + .card-content-md {
        padding-top: 0;
        background: rgba(189, 200, 219, 0.1)!important;
      }
      .header{
        background-image: url('../assets/imgs/login_performance.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;
        // background: rgb(190, 200, 219)!important;
        height:60px;
        width: 100%;
        margin-top: 10px;
        // margin-bottom: -35px;
        // margin-left: -20px;
        // text-align: right;
      }
      .content{
        .box-text{
          background-color: transparent;
          // margin-top: -10px;
          // font-size: 15px;
          font-size: 15px;
          font-family:"Arial Black";
          color:black;
          .ion_input{
            border-radius: 10px 10px 10px 10px;
            padding: 0px 0px 0px 0px;
          }
        }
        .box-tombol{
          background-color: transparent;
          text-align: center;
          .Login{
            background: #fdfbfb;
            /* color: black; */
            font-family: 'Raleway', sans-serif;
            text-transform: capitalize;
            font-weight: bold;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 29px;
            padding: 10px 10px 10px 10px;
            border-radius: 30px 30px 30px 30px;
          }
        }
      }
    }

    .footer-created{
      width: 100%;
      height: 100%;
      margin-top: calc(200% - 555px);
      // bottom: calc(-80% + 85%);
      // bottom: -235px;//calc(100% - 90px);
      // position: absolute;
      .created-image{
        background: url('../assets/imgs/logo-cudo-putih.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50px;
        height: 70px;
        width: -100%;

      }
      .created-label{
        margin-top:-5px;
        color:white;
        width:100%;
        text-align: center;
        font-size: 10px;
      }
    }

    //   ion-item {
    //     border-radius: 30px !important;
    //     padding-left: 30px !important;
    //     font-size: 0.9em;
    //     margin-bottom: 10px;
    //     border: 1px solid #ffffff;
    //     border-bottom: 0px !important;
    //     box-shadow: none !important;
    // }
}

