<ion-content padding class="content-body">
  <ion-grid class="grid-column">
      <ion-row justify-content-left>
          <ion-item>
              <ion-label floating >
                Nama lengkap sesuai KTP
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.nama_lengkap_ktp"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating >
                Nama lengkap tanpa singkatan/sesuai akte lahir
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.nama_lengkap_akte"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating >
                Nomor KTP
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.nomor_ktp"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating >
                Tempat dan tanggal lahir (dd/mm/yyyy)
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.tempat_tgl_lahir"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating >
                Kewarganegaraan
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.kewarganegaraan"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating >
                Jenis kelamin
              </ion-label>
              <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.jenis_kelamin"></ion-input>
          </ion-item>
     </ion-row>
     <ion-row justify-content-left>
        <ion-label>
          Status
        </ion-label>
      </ion-row>
     <ion-row justify-content-left>
        <ion-col col-12 class="radio-custom" style="padding:0 0 0 0">
          <ion-list radio-group class="radio-btn" [(ngModel)]="serialDataDiri.data_diri.status_pernikahan">
            <ion-item>
                <ion-label>Belum Menikah</ion-label>
                <ion-radio item-left value="Belum Menikah" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Janda/Duda</ion-label>
                <ion-radio item-left value="Janda/Duda"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Menikah</ion-label>
                <ion-radio item-left value="Menikah"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
     </ion-row>
     <ion-row justify-content-left style="padding:0 0 0 0">
        <ion-label class="lbl">Pendidikan terakhir </ion-label>
     </ion-row>
     <ion-row justify-content-left style="padding:0 0 0 0">
        <ion-col col-12 style="padding:0 0 0 0">
          <ion-list radio-group class="radio-btn" [(ngModel)]="serialDataDiri.data_diri.pendidikan_terakhir">
              <ion-grid>
                <ion-row>
                  <ion-col class="radio-custom"  col-6 style="padding:0 0 0 0">
                    <ion-item>
                        <ion-label>SD</ion-label>
                        <ion-radio item-left value="SD" checked></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>SMP</ion-label>
                        <ion-radio item-left value="SMP"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>SMA</ion-label>
                        <ion-radio item-left value="SMA"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Diploma</ion-label>
                        <ion-radio item-left value="Diploma"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6 class="radio-custom" style="padding:0 0 0 0">
                    <ion-item>
                        <ion-label>S1</ion-label>
                        <ion-radio item-left value="S1" [disabled]="isDisabled"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>S2</ion-label>
                        <ion-radio item-left value="S2" [disabled]="isDisabled"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>S3</ion-label>
                        <ion-radio item-left value="S3" [disabled]="isDisabled"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Lainya</ion-label>
                        <ion-radio item-left value="Lainya" [disabled]="isDisabled"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </ion-list>
        </ion-col>
     </ion-row>
     <ion-row justify-content-left style="margin-top:-30px; margin-bottom: 30px">
        <ion-item>
            <ion-label floating >
              Alamat tempat tinggal saat ini
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.alamat_sekarang"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
             Kota
            </ion-label>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="serialDataDiri.data_diri.kota" (ionChange)="kotaChange($event)">
                <ion-option *ngFor="let item of aryKota" value="{{item.id}}">
                {{item.kota}}</ion-option>
              <!-- <ion-option value="yes" selected="true">Yes</ion-option>
              <ion-option value="no">No</ion-option> -->
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating >
             Kode pos
            </ion-label>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="serialDataDiri.data_diri.kodepos">
                <ion-option *ngFor="let item1 of kodepos" value="{{item1.kode}}">
                    {{item1.kode}}</ion-option>
           </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating >
              RT
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.rt"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              RW
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.rw"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Lama tinggal
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.lama_tinggal"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Telepon rumah
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.telepon_rumah"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Nomor ponsel
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.nomor_ponsel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Alamat email
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Nama gadis ibu kandung
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.nama_gadis_ibu"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              NPWP
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.npwp"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Nama lengkap suami/istri (sesuai KTP)
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.namalengkap_suami_istri"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              Nomor KTP suami/istri
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.no_ktp_suami_istri"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
                Tempat dan tanggal lahir suami/istri
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataDiri.data_diri.tempat_tinggal_suami_istri"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
              perjanjian pisah harta (yes/no)
            </ion-label>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="serialDataDiri.data_diri.perjanjian_pisah_harta">
              <ion-option value="yes" selected="true">Yes</ion-option>
              <ion-option value="no">No</ion-option>
            </ion-select>
        </ion-item>
      </ion-row>
      <ion-row justify-content-right>
          <ion-col col-12 class="posisi-tombol">
            <button ion-button  (click)="btnNext()" class="back"></button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
