page-loan-datadiri {
  .content-body{
    background-color: white;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
  }
  .grid-column{
    width: 100%!important;
    padding: 0 0 0 0;
    color: #8D9091;
    .row-menu1{
      padding: 0 0 0 0;
      margin-bottom: -15px;
    }
    .row-menu2{
      padding: 0 0 0 0;
    }
    .label_1{
      text-align: left;
      margin-left: 15px;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }
    .label_2{
      margin-top: -10px;
      text-align: left;
      margin-left: 15px;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }

    .lbl{
      color: #8D9091;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 400;
      white-space: normal;
    }
  }
  .radio-custom .item-md .radio-md[item-left], .item-md .radio-md[item-start]{
    margin: 11px 15px 10px 4px;
  }
  .radio-custom .item-inner{
    border-bottom:0px solid grey !important;
  }

  ion-label{
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: normal;
  }
  .item-md {
    padding-left: 0px;
  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: right;
    right: 10px;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }
}
