page-task-draft {
  .content-body{
    background-color: white;
  }

  .data-item-list{
    width: 110%;
    height: 80px;
    margin-left:-15px;
    margin-right:-21px;
    border-radius: 11px 11px 11px 11px;
    border: 1px solid #8D9091;
    -webkit-box-shadow: 0px 0px 0px 1px #000;
    box-shadow: 1px 2px 0px 2px #c9cfd1;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
    .col1_list1{
      padding: 0px 0px 0px 0px;
      border-right: 1px solid #8D9091;
      .lbl1{
        margin-top: 10px;
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #8D9091;
      }
      .lbl2{
        margin-top: 17px;
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #E30613;
      }
    }
    .col1_list2{
      padding: 0px 0px 0px 0px;
      width: 100%;
      .lbl1{
        width: 100%;
        margin-top: 0px;
        padding: 5px 5px 5px 5px;
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #8D9091;
        white-space: normal;
      }
      .lbl2{
        margin-top: -10px;
        padding: 5px 5px 5px 5px;
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #8D9091;
        white-space: inherit;
      }
      .lbl3{
        margin-top: -5px;
        padding: 5px 0px 0px 0px;
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #E30613;
        white-space: inherit;
        text-align: right;
      }
    }
  }

  .label_1{
    margin-top: 54px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .label_2{
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }
  .label_3{
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }
  .label_4{
    margin-left: -100px;
    color: rgb(246, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
  }

  .tgl{
    margin-top: -14px;
    text-align: right;
  }
  .position-label{
    margin-top: -21px;
  }

  // .tombol-detail{
  //   width: 100%;
  //   height: auto;
  //   bottom: 3px;
  //   text-align: left;
  //   right: 10px;
    .tombol-detail{
      width: 60px;
      border-radius: 7px 7px 7px 7px;
      background-image: url(../assets/imgs/details.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: #8D9091;
      padding: 10px 5px 8px 77px;
      height: 26px;
      margin-top: 1px;
      margin-left: -16px;

    }
    .tombol-detail:hover
    {
      border-radius: 7px 7px 7px 7px;
      background-image: url(../assets/imgs/details.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  // }

  img.item-md ion-avatar ion-img, .item-md ion-avatar img{
    border-radius: 50%;
    overflow: hidden;
    width: 13vw;
    height: 13vw;
    border: 2px solid #8D9091;
  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: right;
    right: 10px;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }
}
