page-setting{
  body{
    margin-top: 20px;
  }
  .card {
      margin-top: 1rem;
      margin-bottom: 2rem;
      overflow: hidden;
  }
  // MODAL
  .alertModal{
    // .alert-wrapper{
    //   border-radius: 7px 7px 0px 0px;
    //   border : 1px solid #e2e2e2;
    // }

    .alert-head{
      border-radius: 7px 7px 0px 0px;
      border : 1px solid #e2e2e2;
      background-color: #B1232D;
      height: 30px;
      color: white;
      //margin-bottom: 10px;
      vertical-align: center;
      margin-top:-30px;
      margin-bottom:-30px;
      //text-align: center;
    }
    .alert-message{
      height: 80px;
      font-size: 20px;
      background-color: #e2e2e2;
      //text-align: justify;
      // text-justify: inter-word;
      overflow : hidden !important;
    }
    .alertModal{
      // border-radius: 50ps;
      background-color: transparent;
      box-shadow:#ff0000;
      color:red;
      border-radius: 7px 7px 0px 0px;
      border : 1px solid #e2e2e2;
    }
  }
}
