<ion-content padding class="content-body">
  <ion-grid class="grid-column">
    <ion-row justify-content-left >
        <ion-item>
          <ion-label floating >
              Nama
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataEmergency.data_emergency.nama"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row justify-content-left >
        <ion-label>Hubungan</ion-label>
    </ion-row>
    <ion-row justify-content-left >
        <ion-col col-12 class="radio-custom" style="padding:0 0 0 0">
          <ion-list radio-group  [(ngModel)]="serialDataEmergency.data_emergency.hubungan">
              <ion-item>
                  <ion-label>Saudara kandung</ion-label>
                  <ion-radio item-left value="Saudara kandung" checked></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Anak</ion-label>
                  <ion-radio item-left value="Anak"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Orang Tua</ion-label>
                  <ion-radio item-left value="Orang Tua" [disabled]="isDisabled"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Sepupu</ion-label>
                  <ion-radio item-left value="Sepupu" [disabled]="isDisabled"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>lainya</ion-label>
                  <ion-radio item-left value="lainya" [disabled]="isDisabled"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-col>
    </ion-row>
    <br>
    <ion-row justify-content-left style="margin-bottom: 30px" >
        <ion-item >
            <ion-label floating >
              <!-- <ion-icon name="ios-person" item-start ></ion-icon> -->
              Alamat tempat tinggal saat ini
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataEmergency.data_emergency.alamat_tinggal_sekarang"></ion-input>
            <!-- <ion-input type="text" [(ngModel)]="userData.username"></ion-input> -->
            <!-- <ion-input type="email"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label floating >
             Kota
            </ion-label>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="serialDataEmergency.data_emergency.kota" (ionChange)="kotaChange($event)">
                <ion-option *ngFor="let item of aryKota" value="{{item.id}}">
                {{item.kota}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating >
             Kode pos
            </ion-label>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="serialDataEmergency.data_emergency.kodepos">
                <ion-option *ngFor="let item1 of kodepos" value="{{item1.kode}}">
                    {{item1.kode}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item >
            <ion-label floating >
              Telephon Rumah
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataEmergency.data_emergency.telepon_rumah"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label floating >
              No Ponsel
            </ion-label>
            <ion-input type="text" [(ngModel)]="serialDataEmergency.data_emergency.nomor_ponsel"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row justify-content-right>
        <ion-col col-12 class="posisi-tombol">
          <button ion-button  (click)="btnNext()" class="back"></button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
