page-app-task {
  .content-body{
    background-color: white;
  }

  .label_1{
    margin-top: 54px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #8D9091;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  ion-tabs {
    background: black;
  }
  .tabs-md .tab-button-text {
    font-size: 1.2rem;
    text-transform: none;
    white-space: normal!important;
    color: white;
  }

  .tabptr .tab-button.has-title-only{
    padding: 0 0px;
  }

  .tabs-md[tabsHighlight=true] .tab-highlight{
    // background: #dbae32;
    background: rgb(255, 255, 17);
    opacity: 0.2;
    height: 58px;
  }
  .tab-button {
    color: white;
    text-align: center;
    border-radius: 0;
    position: relative;
    z-index: 0;
    justify-content: center;
    border: 0;
    text-decoration: none;
    background: rgb(70, 68, 68);
    cursor: pointer;
  }
}
