page-comparasion {
  .content-body{
    background-color: white;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .header{
    .image{
      background-image: url('../assets/imgs/login_performance.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 150px;
      // background: rgb(190, 200, 219)!important;
      height:60px;
      width: 100%;
      margin-top: 10px;
    }
  }

  .title-Label-button{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    width: 150px;
    background-color: rgb(141, 49, 49);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .row-combobox{
    margin-bottom: 10px;
    .dropdown-station1{
    
      ion-select {
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 75%;
      }
      
      .select-md {
        padding: 17px 8px 13px 16px;
        font-size: 14px;
        font-weight: 400;
        color: #8D9091;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  

  .row-box{
    padding: 0 0 0 0;
    margin-left: -15px;
    min-width: 109%;
    
    .col-box{
      padding: 0 0 0 0;
      .group-item{
        padding: 0 0 0 0;
        .batas1{
          margin-top: 5px;
          background-color: #3579AE;
          color: #ffffff;
          border-radius:  5px 5px 5px 5px;
        }
        .batas2{
          margin-top: 5px;
          background-color: #FFC414;
          color: #ffffff;
          border-radius:  5px 5px 5px 5px;
        }
        .col-box1{
          padding: 0 0 0 0;
          border-bottom: 1px solid #8D9091;
          .col-item1{
            padding: 0 0 0 0;
            background:transparent;
            text-align: center;
            font-size: 12px;
            font-weight: 900;
            color: rgb(60, 61, 61);
            font-family: Arial, Helvetica, sans-serif;
          }
          ion-icon {
            display: inline-block;
            font-size: 20px;
            // border: 1px black;
            color: rgb(230, 233, 233);
          }
        }
        .col-box2{
          padding: 0 0 0 0;
          border-bottom: 1px solid #8D9091;
          .col-item1{
            padding: 0 0 0 0;
            background:transparent;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            color: #8D9091;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
        .col-box3{
          padding: 0 0 0 0;
          border-bottom: 1px solid #8D9091;
          .col-item1{
            padding: 0 0 0 0;
            background:transparent;
            text-align: center;
            font-size: 12px;
            font-weight: 900;
            color: rgb(60, 61, 61);
            font-family: Arial, Helvetica, sans-serif;
          }
          ion-icon {
            display: inline-block;
            font-size: 20px;
            // border: 1px black;
            color: rgb(230, 233, 233);
          }
        }
      }
    }
  } 
   
}
