page-app-product {
  .content {
    // background-color: #000000;
    background-image: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .label_1{
    margin-top: 54px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.tombol{
  display: inline-block;
    padding: 0px 0px 0px 0px;
    margin-top: 6px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border : 1px solid #ffffff;
    color: black;
    text-align: left;
    .icon{
      padding: 2px 0px 0px 12px;
      width: 49px;
      height: 36px;
      position: relative;
    }
    .garis-vertical{
      margin-top: 1px;
      margin-left: 57px;
      width: 3px !important;
      height: 34px;
      font-size: 36px;
      position: absolute;
    }
    .btn-lbl{
      font-size: 18px;
      text-align: left;
      position: absolute;
      margin-left: 69px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .tombol:hover
  {
      background-image:none !important;
      background-color:#8D9091 !important;
  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: right;
    right: 10px;
    position: fixed;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/back.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }

}
