page-etraining1 {
  .content {
    // background-color: #000000;
    background-image: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-body{
     // background-color: #000000;
     background-image: url('../assets/imgs/background.png');
     background-repeat: no-repeat;
     background-size: cover;
  }
  .sukses{
    // border-radius: 30px 30px 30px 30px;
    background-image: url(../assets/imgs/succesjoin.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    // padding: 0px 0px 0px 0px;
    // background-color: transparent;
    padding: 10px 5px 8px 77px;
    height: 100px;
    width: 150px;
    text-align: center;
    // border-radius: 5%;
  }
  .hdr-lbl1{
    text-align: center;
    margin-left: 15px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hdr-lbl2{
    text-align: center;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hdr-lbl3{
    text-align: center;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
    white-space: inherit;
  }
  .hdr-lbl4{
    text-align: center;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #8D9091;
    font-family: Arial, Helvetica, sans-serif;
  }

  .posisi-tombol{
    width: 100%;
    height: auto;
    bottom: 3px;
    text-align: right;
    right: 10px;
    .back{
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
    }
    .back:hover
    {
      border-radius: 30px 30px 30px 30px;
      background-image: url(../assets/imgs/next.png);
      background-repeat: no-repeat;
      background-size: 56px;
      background-position: center;
      background-color: transparent;
      padding: 10px 5px 8px 77px;
      height: 26px;
      background-color:rgb(241, 238, 31) !important;
    }
  }

  .key-button{
    margin-top: 30px;
  }
  .icon-back-hapus{
     width: 37px;
    text-align: center;
    font-size:2.2rem;
    font-weight: normal;
  }
  .tombol-jarak{
    margin-left: 41px;
  }

  .box-auth{
    padding: 0px 0px 10px 10px;
    border-radius: 10%;
    border: 2px solid #8D9091;
    text-align: center;
    margin: 2px;
    width: 50px;
    height: 20px;
    .lbl{
      padding: 0px 0px 0px 0px;
      margin-top: 7px;
      font-size: 20px;
      font-weight: 900;
      font-family: Arial;
      text-align: center;
    }
  }

  ol {
    position: relative;
    display: block;
    margin-top: 20px;
    height: 4px;
    background: rgb(255, 255, 255);
  }
  ol::before,
  ol::after {
    // content: "";
    position: absolute;
    top: -8px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 15px;
    border: 10px solid rgb(255, 255, 255);
  }
  ol::before {
    left: -5px;
  }
  ol::after {
    right: -10px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 20px solid rgb(245, 247, 248);
    border-radius: 3px;
  }

  /* ---- Timeline elements ---- */
  li {
    position: relative;
    display: inline-block;
    width: 60px;
    font: bold 14px arial;
    height: 70px;
  }
  li .diplome {
    position: absolute;
    top: 7px;
    left: -13%;
    color: white;
  }
  li .point1 {
    // content: "";
    top: -6px;
    display: block;
    width: 16px;
    height: 18px;
    border: 1px solid red;
    border-radius: 12px;
    background: red;
    position: absolute;
  }
  li .point2 {
    // content: "";
    top: -6px;
    display: block;
    width: 16px;
    height: 17px;
    border: 1px solid #8D9091;
    border-radius: 12px;
    background: #fff;
    position: absolute;
  }
  li .point3 {
    // content: "";
    top: -6px;
    display: block;
    width: 16px;
    height: 17px;
    border: 1px solid #8D9091;
    border-radius: 12px;
    background: #fff;
    position: absolute;
  }
  li .point4 {
    // content: "";
    top: -6px;
    display: block;
    width: 16px;
    height: 17px;
    border: 1px solid #8D9091;
    border-radius: 12px;
    background: #fff;
    position: absolute;
  }


  /* ---- Hover effects ---- */
  li:hover {
    cursor: pointer;
    color: #48A4D2;
  }
  li:hover .description {
    display: block;
  }

  .row-card1{
    padding: 0px 0px 0px 0px;
    margin-left: -21px;
    margin-right: -21px;
    .card1{
      padding: 0px 0px 0px 0px;
      margin-top: 60px;
      background: #8D9091;
      border-radius: 15px;
      height: 380px;
      .card1-header{
        font-size: 20px;
        font-weight: 400;
        color: rgb(246, 249, 250);
        font-family: Arial, Helvetica, sans-serif;
      }
      .card1-content{
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        color: rgb(246, 249, 250);;
        font-family: Arial, Helvetica, sans-serif;
        white-space: inherit;
      }
    }
  }

}
